@font-face {
    font-family: "Jost";
    src: url(../font/Jost/Jost-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Jost;
}

.container {
    background-color: #FF7F99;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-h1{
    width: 20vw;
    margin-left: 5vw;
    cursor: pointer;
}

h1{
    font-size: 4vw;
}

.container-firstcolor_h1{
    animation: transitioncolor 10s infinite;
    color: #ffca41 
}

.container-second_color{
    color: white;   
}

a{
    text-decoration: none;
    color: black;
    width: 10vw;
}

.container-menu_header{
    height: 5vw;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
    
}

.container-somos{
    color: white;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-somos:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: lineaAnimada 4s linear infinite;
}

.container-equipo{
    color: white;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-equipo:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: lineaAnimada 4s linear infinite;
}

.container-contactenos{
    
    width: 180px;
    height: 45px;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: #ffc94182;
    border: none;
    padding: 10px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    
}

.contact {
    display: none;
}


@keyframes transitioncolor {
    0% {
        color: #ffca41;
    }

    25% {
        color: #71ff41;
    }

    50% {
        color: #41b9ff;
    }

    75% {
        color: #71ff41;
    }

    100% {
        color: #ffca41;
    }

}

@keyframes lineaAnimada {
    0%, 100% {
        transform: scaleX(0);
    }
    50% {
        transform: scaleX(1);
    }
}





:root {
    --main-color: #ff7f99;
    --second-color: #ffca41;
    --font-color-light: white;
    --font-color-dark: black;      
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vh;
    margin: 10vh 0;
}

.container-left{
    height: 30vw;
}


.container-left_profile{
    width: 30vw;
    height: 30vw;
    background-color: var(--main-color);
    border-radius: 100% 0% 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-left_profile img{
    position: relative;
    object-fit: cover;
    width: 95%;
    height: 95%;
    border-radius: 100%;    
}

.zoom{
    transition: transform .5s;
    
}

.zoom:hover{
    transform: scale(1.2) rotate(45deg);
    
}

.container-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.container-right_h3{
    font-size: 3vw;
    color: var(--main-color);
}

.container-right_p{
    font-size: 1.81vw;
}

.btn{
    background-color: var(--second-color);
    border: none;
    padding: 10px;
    border-radius: 25px;
    color: var(--font-color-light);
    width: 50%;
    cursor: pointer;
    
}

.btn:active{
    animation: backgradient 2s ease infinite ;
}

@keyframes backgradient{
    
    0% {
        color: linear-gradient(to right, var(--second-color), var(--main-color));
    }
    50%{
        color: linear-gradient(to left, var(--main-color), var(--second-color));
    }
    50%{
        color: linear-gradient(to right, var(--second-color), var(--main-color));

    }
    100% {
        background: linear-gradient(to left, var(--main-color), var(--second-color));
    }   
}

.footer {
    background-color: #ff7f99;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vw 0;
}

.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-img{
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    overflow: hidden;
}

.profile-img img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 100%;
    transition: 0.5s;
}


.profile-img img:hover {
    transform: scale(1.2);
}

.profile-name {
    color: white;
    margin: 5px 0 1px 0;
}

.profile-description {
    font-size: small;
}

.center-linkendin{
    display: flex;
    justify-content: center;
}

.icon-linkedin {
    width: 3vw;
    height: 6vh;
    animation: animation-logo 4s linear infinite;
}

@keyframes animation-logo{
	from {
		-webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
		}
}

@media (max-width: 1200px){

    .container-contactenos{
    
        width: 120px;
        height: 35px;
    }
}

@media (max-width: 800px){

    .container-contactenos{
    
        width: 100px;
        height: 30px;
    }

    .profile-img img {
        height: 10vh;
        width: 10vh;

    }

    .icon-linkedin {
        margin-top: -10px;
    }
}

@media (max-width: 500px){

    .container-contactenos{
    
        width: 80px;
        height: 25px;
    }

    .mainContainer{
        flex-direction: column;
        
    }

    .container-right{
        align-items: center;
        gap: 10px;
    }

    .container-right_h3{
        font-size: 4.5vw;  
        
    }  

    .container-right_p{
        font-size: 2.51vw;
    }

    .profile-img img {
        height: 8vh;
        width: 8vh;
    }
}